<ng-container *ngIf="!addPass">

  <app-header></app-header>

  <app-auth-modal *ngIf="systemSr?.moveToLogin == true"></app-auth-modal>

  <app-reset-password *ngIf="systemSr?.resetPass == true || systemSr?.periodic == true"></app-reset-password>

  <app-download-all *ngIf="systemSr?.downloadHistory == true"></app-download-all>

  <app-insights-center *ngIf="systemSr?.insightsModal == true"></app-insights-center>

  <div class="container-fluid tertiary_bg">
    <div class="row">
      <div class="col-lg-6 mt-2 mb-2">
        <!-- <button class="btn submit_btn ml-2" (click)="navigateUrl('text-optics')"><i
            class="fa fa-chevron-left"></i>&nbsp; Text Optics </button>
        <button class="btn submit_btn ml-2"
          *ngIf="viewAllData?.link == 1 && viewAllData?.launch == 1 && viewAllData?.output == 1"
          (click)="navigateUrl('output')"><i class="fa fa-chevron-left"></i>&nbsp; Dashboard </button> -->
      </div>

      <div class="col-lg-6 mt-2 mb-2 text-right">
        <span class="ml-2 mr-5" *ngIf="completeCount?.completes"> Base: (n={{completeCount?.completes}})</span>
        <button class="btn btn blue_btn mr-2" id="cross_down" matTooltip="Click to download all tables"
          (click)="getDownloadHistory()">Download history
        </button>
        <!-- <button class="btn btn_submit ml-2" (click)="openCrossModal()" matTooltip="Add a new banner"> Add
          Banner</button> -->
      </div>
    </div>

    <!-- <div class="row d-none">
        <div class="col-lg-12">
            <div class="card w-100 mb-0 mt-3">
                <div class="card-body p-0">
                    <div class="col-lg-12 px-2">
                        <div class="row">
                            <div class="col-lg-7 mt-1">
                                <h4 class="mt-1 ellip mb-0">
                                    {{masterData?.stdName | titlecase}}
                                </h4>
                                <div class="col-lg-12 mb-1 pl-0">
                                    <div class="custom_b d-inline-block mr-3">
                                        <ul class="breadcrumb">
                                            <li (click)="navigateTodas()" matTooltip="Go to dashboard listing">Dashboard
                                                Listing</li>
                                            <li class="active">Banner List</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 text-right my-auto pr-4">
                                <button class="btn submit_btn ml-1" (click)="openCrossModal()" matTooltip="Add Banner">
                                    <i class="fa fa-plus-circle"></i> Banner
                                </button>
                            </div>

                            <div class="col-lg-5 pl-0 mt_2 text-right pr-4">
                                *ngIf="bannerList.length > 0"

                                <div class="row">
                                    <div class="col-4"></div>
                                    <div class="col-lg-7 pl-0">

                                        <button class="btn  st_green ml-1 cursor_none">
                                            N={{completeCount?.completes}}
                                        </button>

                                        <button class="btn  pl-0 st_green cursor_none"
                                            *ngIf="viewAllData?.studyState != 'View Report'">
                                            Study Live
                                        </button>
                                        <button class="btn  pl-0 clr_red cursor_none"
                                            *ngIf="viewAllData?.studyState == 'View Report'">
                                            Study Closed
                                        </button>
                                        <button class="btn submit_btn ml-1" (click)="openCrossModal()"
                                            matTooltip="Add Banner">
                                            *ngIf="masterData?.grp != 'ke'"
                                            <i class="fa fa-plus-circle"></i> Banner
                                        </button>

                                    </div>
                                    <div class="col-lg-4 pl-0 pr-2">
                                        <input class="form-control d-inline-block" [(ngModel)]="searchText"
                                            matTooltip="Enter banner name to search" type="text"
                                            placeholder="Search banner...">
                                    </div>
                                    <div class="col-lg-1 pl-0 pr-4">
                                        <button class="btn down_history" (click)="getDownloadHistory()"
                                            matTooltip="All Exports">
                                            <i class="fa fa-download"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row crosstab_height">
      <div class="col-lg-12">
        <div class="col-lg-12 p-2">
          <div *ngIf="bannerList.length > 0">
            <div class="mb-3" *ngFor="let list of bannerList | appFilter: searchText;">
              <div class="card h_fix radius-8 mb-0 cs_card">
                <div class="p-3-b-0">
                  <div class="row">
                    <div class="col-lg-6 pr-0">
                      <h4 class="mb-0 text_clr ellip cursor-pointer" (click)="goToEdit2(list, 'table-list')"
                        *ngIf="list?.tb_enabled == 1 && list?.bannerPoint.length > 0">
                        {{list.title | titlecase}}
                      </h4>
                      <h4 class="mb-0 text_clr ellip" *ngIf="list?.tb_enabled == 0">
                        {{list.title | titlecase}}</h4>
                      <p *ngIf="list.description != ''" class="ellip sub-label">{{list.description}}
                      </p>
                    </div>
                    <div class="col-lg-6 pl-0 text-right">
                      <button class="btn crosstab_bt ml-1" (click)="goToEdit2(list, 'table-list')"
                        matTooltip="Go to crosstab" *ngIf="list?.tb_enabled == 1 || list?.bannerPoint.length > 0">
                        View</button>
                      <!-- <button class="btn crosstab_bt ml-1" (click)="goToEdit(list)" matTooltip="Design Banner">
                        Edit</button>
                      <button class="btn crosstab_bt ml-1" (click)="copyBanner(list)" matTooltip="Copy Banner"
                        *ngIf="masterData?.grp != 'ke' &&  (list?.tb_enabled == 1 || list?.bannerPoint.length > 0)">
                        Copy</button>
                      <button class="btn crosstab_bt ml-1" (click)="openSetModal(list)" matTooltip="Settings"
                        *ngIf="masterData?.grp != 'ke' && list?.bannerPoint.length > 0"> Settings
                      </button> -->
                      <button class="btn crosstab_bt ml-1" (click)="downloadExcel(list)" matTooltip="Download"
                        *ngIf="list?.bannerPoint.length > 0" id="down_{{list.bannerID}}">
                        Download</button>
                      <!-- <button class="btn crosstab_bt ml-1" (click)="deletebannerModal(list)" matTooltip="Remove Banner">
                        Delete</button> -->



                      <div class="float-end d-none">
                        <!-- <i class="bi bi-table fw-bold"
                                                (click)="goToEdit2(list, 'crosstab/table-list')"
                                                matTooltip="Go to crosstab"
                                                *ngIf="list?.tb_enabled == 1 || list?.bannerPoint.length > 0"></i>
                                            <i class="bi bi-pencil-square fw-bold clr_blue ml-3"
                                                (click)="goToEdit(list)" matTooltip="Design Banner"
                                                *ngIf="masterData?.grp != 'ke'"></i>
                                            <i class="bi bi-clipboard-fill clr_blue ml-3"
                                                (click)="copyBanner(list)" matTooltip="Click to copy banner"
                                                *ngIf="masterData?.grp != 'ke' &&  (list?.tb_enabled == 1 || list?.bannerPoint.length > 0)"></i>
                                            <i class="bi bi-gear-fill ml-3 clr_green"
                                                (click)="openSetModal(list)"
                                                matTooltip="Click to view banner settings"
                                                *ngIf="masterData?.grp != 'ke' && list?.bannerPoint.length > 0"></i>
                                            <i class="fa fa-download ml-3 clr_yellow fw-bold"
                                                id="down_{{list.bannerID}}" (click)="downloadExcel(list)"
                                                matTooltip="Download"
                                                *ngIf="list?.bannerPoint.length > 0"></i>
                                            <i class="bi bi-trash3 ml-3 clr_red" matTooltip="Delete Banner"
                                                (click)="deletebannerModal(list)"
                                                *ngIf="masterData?.grp != 'ke'"></i> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body" style="padding: 10px !important;">
                  <div class="row" *ngIf="list.bannerPoint">
                    <div class="col-lg-12" *ngIf="list.bannerPoint.length > 0">

                      <div class="table-responsive cs_scroll">
                        <table class="table table-bordered mb-0">
                          <tbody>
                            <tr>
                              <td *ngFor="let point of list.bannerPoint" matTooltip="{{point.title}}">
                                <div class="ellip point_title">
                                  {{point.title}}
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-lg-12 text-center" *ngIf="list.bannerPoint.length == 0">
                      <p>No banner point added.</p>
                    </div>
                  </div>

                  <!-- <p class="fnt_italic stick_btm" *ngIf="list?.firstName">Modified By:
                                    {{list?.firstName}}
                                    {{list?.lastName}}</p> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 text-center mt-5" *ngIf="bannerList.length == 0">
            <p class="mb-3 mt-5">No banner list found.</p>
            <!-- <button class="btn submit_btn" (click)="openCrossModal()" matTooltip="Add Banner">
              <i class="fa fa-plus-circle"></i> Add New Banner
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="backdrop" [ngStyle]="{'display':display}"></div>
  <!-- Add Banner modal -->
  <div class="modal mt-2" [ngStyle]="{'display':display}" *ngIf="addCrossTab == true">
    <div class="modal-dialog" style="max-width: 60%">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header" style="padding: 10px;background-color: #fff;">
          <h4 class="modal-title ellip">Add Banner: {{masterData?.stdName}}</h4>
          <button type="button" class="close" (click)="closeCrossModal('addCrossTab')">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body m_body">
          <form [formGroup]="bannerForm">
            <div class="col-lg-12 p-0">
              <div class="form-group">
                <label>Banner Name<span class="clr_red">*</span></label>
                <input type="text" autocomplete="off" formControlName="bannerTitle" class="form-control"
                  placeholder="Enter banner title ...">
                <div *ngIf="submitted && f.bannerTitle.errors" class="text-danger">
                  <div>Banner name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label class="mt-3">Banner Description<span class="clr_red">*</span></label>
                <input type="text" autocomplete="off" formControlName="description" class="form-control"
                  placeholder="Enter banner description ...">
                <div *ngIf="submitted && f.description.errors" class="text-danger">
                  <div>Banner description is required</div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 mb-2 p-0">
              <label class="mt-3">Select View Type</label>
              <div class="row">
                <div class="col-lg-3">
                  <div class="custom-control custom-checkbox mb-2 ml_l_3">
                    <input type="checkbox" class="custom-control-input" id="add_count" name="question">
                    <label class="custom-control-label cursor-pointer" for="add_count">
                      <div class="ml-2">
                        Counts
                      </div>
                    </label>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="custom-control custom-checkbox mb-2 ml_l_3">
                    <input type="checkbox" class="custom-control-input" id="add_per_type" checked name="question">
                    <label class="custom-control-label cursor-pointer" for="add_per_type">
                      <div class="ml-2">
                        Percentage
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!-- Add logic -->
            <div class="col-lg-12 p-0">
              <label>Overall Banner Filter <small>(optional)</small></label>
            </div>
            <div class="col-lg-12 p-0 text-center">
              <div class="logical root mt-1 br_logic" *ngFor="let rw of addLogicArr; let i= index;let last = last">
                <div class="parent-class-logic row">
                  <div class="w-auto pl-2">
                    <div class="form-group mb-0">
                      <select class="form-select custom-form question clr_red" id="cond{{i}}"
                        (change)="selectedValue($event,i)">
                        <option value="">Select variables</option>
                        <optgroup label="{{access.key}}" *ngFor="let access of logicVars|keyvalue">
                          <option *ngFor="let items of logicVars[access.key]" value="{{items.code}}"
                            attr.data="{{items.show}}" ariaLabel={{items.param}}>{{items.show}}</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>

                  <div *ngIf="selectedArrG[i]>0" class="col-lg-2 mr-5 w-auto">
                    <div class="form-group mb-0">
                      <select class="form-select options custom-form clr_red" id="operator{{i}}" style="border: none;"
                        (change)="selectedValueOptions($event,i)">
                        <option value="">Select options</option>
                        <option *ngFor="let ops of selectedArrOptions[i]" value="{{ops.code}}">
                          {{ops.show}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="w-auto">
                    <div class="form-group mb-0" *ngIf="selectedOptions[i+'len']==0 || selectedArrG[i]==0">
                      <select class="form-select custom-form operator clr_red" id="andOper{{i}}">
                        <option value="">Select operator</option>
                        <option *ngFor="let oper of logicOperators" value="{{oper.code}}">
                          {{oper.show}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-2 w-auto" *ngIf="selectedOptions[i+'len']>0 && selectedArrG[i]>0">
                    <div class="form-group mb-0">
                      <select class="form-select custom-form  subOption clr_red" style="border: none;"
                        id="options{{i}}">
                        <option value="">Select </option>
                        <option *ngFor="let option of selectedOptions[i+'option']" value="{{option.code}}">
                          {{option.show}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-1 w-auto" *ngIf="selectedOptions[i+'len'] == 0 || selectedArrG[i]==''">
                    <div class="form-group mb-0">
                      <input autocomplete="off" class="form-control custom-form value clr_red" type="text"
                        placeholder="Enter value" maxlength="100" id="invalue{{i}}">
                    </div>
                  </div>

                  <div class="col-lg-3 text-center w-auto">
                    <i class="fa fa-expand clr_blue ml-2 p-2 undo_btn" (click)="addAndOrLogic(rw)"
                      matTooltip="Add add/or condition"></i>
                    <i class="fa fa-undo p-2 ml-2 undo_btn" (click)="resetLogic(i)"
                      matTooltip="Click here to reset"></i>
                    <i class="fa fa-trash-o clr_red ml-2 p-2 delete_btn" (click)="removeLogicCond(i)" *ngIf="i > 0"
                      matTooltip="Delete logic"></i>
                    <i class="fa fa-plus ml-2 p-2 add_btn undo_btn" (click)="addLogicCondition()" *ngIf="i == 0"
                      matTooltip="Add logic"></i>
                  </div>
                </div>

                <div *ngIf="rw.options">
                  <div class="row child-class-logic root mt-1"
                    *ngFor="let and of rw.options;let j= index;let last = last">
                    <div class="ml-5 w-auto">
                      <div class="form-group mb-0">
                        <select class="form-select custom-form andoroperator clr_red" id="andor{{j}}{{i}}">
                          <option value=" AND ">AND</option>
                          <option value=" OR ">OR</option>
                        </select>
                      </div>
                    </div>
                    <div class="w-auto">
                      <div class="form-group mb-0">
                        <select class="form-select custom-form question clr_red" id="varand{{j}}{{i}}"
                          (change)="selectedAdditionalValue($event,j,i)">
                          <option value="">Select variables</option>
                          <optgroup label="{{access.key}}" *ngFor="let access of logicVars|keyvalue">
                            <option *ngFor="let items of logicVars[access.key]" value="{{items.code}}"
                              attr.data="{{items.show}}" ariaLabel="{{items.param}}">{{items.show}}</option>
                          </optgroup>
                        </select>
                      </div>
                    </div>
                    <div *ngIf="selectedArrG1[j+''+i]" class="w-auto">
                      <div class="form-group mb-0">
                        <select class="form-select custom-form options clr_red" id="v{{j}}{{i}}"
                          (change)="selectedAdditionalOptions($event,j,i)">
                          <option value="">Select options</option>
                          <option *ngFor="let it of selectedArrOptions1[j+''+i]" value="{{it.code}}">{{it.show}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="w-auto">
                      <div class="form-group mb-0"
                        *ngIf="selectedOptions1[j+''+i+'len']==0 || selectedArrG1[j+''+i]==''">
                        <select class="form-select custom-form operator clr_red" id="andOper{{j}}{{i}}">
                          <option value="">Select operator</option>
                          <option *ngFor="let opert of logicOperators" value="{{opert.code}}">
                            {{opert.show}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-2 mr-3 w-auto" *ngIf="selectedOptions1[j+''+i+'len']>0">
                      <div class="form-group mb-0">
                        <select class="form-select custom-form subOption clr_red" style="border: none;"
                          id="op{{j}}{{i}}">
                          <option value="">Select </option>
                          <option *ngFor="let optionSub of selectedOptions1[j+''+i+'option']"
                            value="{{optionSub.code}}">
                            {{optionSub.show}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-1 w-auto"
                      *ngIf="selectedOptions1[j+''+i+'len'] == 0 || selectedArrG1[j+''+i]==''">
                      <div class="form-group mb-0">
                        <input autocomplete="off" class="form-control custom-form value clr_red" type="text"
                          placeholder="Enter value" maxlength="100" id="invalue{{j}}{{i}}">
                      </div>
                    </div>


                    <div class="col-lg-3 text-center w-auto">
                      <i class="fa fa-undo p-2 ml-2 undo_btn" (click)="resetLogicAnd(j,i)"></i>
                      <i class="fa fa-trash-o clr_red ml-2 p-2 delete_btn" (click)="removeAndOrLogic(rw,j)"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn submit_btn" (click)="addBanner()" [disabled]="bannerForm.invalid">Design
            Banner</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Settings Modal -->
  <div class="modal mt-2" [ngStyle]="{'display':display}" *ngIf="settingsModal == true">
    <div class="modal-dialog" style="max-width: 65%">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header" style="padding: 10px;background-color: #fff;">
          <h4 class="modal-title ellip"><i class="fa fa-cogs"></i> Banner Settings: {{settingList?.title}}</h4>
          <button type="button" class="close" (click)="closeCrossModal('settingsModal')">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body m_body">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Banner Name</label>
                <input type="text" class="form-control" id="baner_name" value="{{settingList?.title}}"
                  placeholder="Enter banner title ...">
              </div>
            </div>

            <div class="col-lg-8">
              <div class="form-group">
                <label class="mt-3">Banner Description</label>
                <textarea type="text" rows="1" class="form-control" id="banner_desc"
                  value="{{settingList?.description}}" placeholder="Enter banner escription ..."></textarea>
              </div>
            </div>

            <div class="col-lg-4 pl-0">
              <div class="form-group">
                <label class="mt-3">Stat Testing</label>
                <input type="text" class="form-control" id="stat_test" value="{{settingList?.statGroup}}"
                  placeholder="eg. AB,C-F">
              </div>
            </div>

            <div class="col-lg-12 mb-2 mt-3">
              <label>Select View Type</label>
              <div class="row">
                <div class="col-lg-3">
                  <div class="custom-control custom-checkbox mb-2 ml_l_3">
                    <input type="checkbox" class="custom-control-input" id="count_type"
                      [checked]="settingList?.count == 1" name="question">
                    <label class="custom-control-label cursor-pointer" for="count_type">
                      <div class="ml-2">
                        Counts
                      </div>
                    </label>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="custom-control custom-checkbox mb-2 ml_l_3">
                    <input type="checkbox" class="custom-control-input" id="per_type"
                      [checked]="settingList?.percent == 1" name="question">
                    <label class="custom-control-label cursor-pointer" for="per_type">
                      <div class="ml-2">
                        Percentage
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 mb-3">
              <label>Overall Banner Filter <small>(optional)</small></label>
              <div class="form-group mb-1" *ngIf="settingList?.bannerList_logic">
                <div *ngFor="let lgic of settingList?.bannerList_logic; let i=index;">
                  <div class="ml-2">
                    {{i+1}}: <span [innerHTML]="lgic.pointLogic" class="clr_red">{{lgic.pointLogic}}</span>
                    <span>
                      <i class="fa fa-trash clr_red ml-5" (click)="removeExistLogic(i)"></i>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 p-0 text-center">
                <div class="banner_logical root mt-1 br_logic"
                  *ngFor="let rw of addLogicArr; let i= index;let last = last">
                  <div class="banner-parent-class-logic row">
                    <div>
                      <div class="form-group mb-0">
                        <select class="form-select custom-form question clr_red" id="cond{{i}}"
                          (change)="selectedValue($event,i)">
                          <option value="">Select variables</option>
                          <optgroup label="{{access.key}}" *ngFor="let access of logicVars|keyvalue">
                            <option *ngFor="let items of logicVars[access.key]" value="{{items.code}}"
                              attr.data="{{items.show}}" ariaLabel={{items.param}}>{{items.show}}</option>
                          </optgroup>
                        </select>
                      </div>
                    </div>

                    <div *ngIf="selectedArrG[i]>0" class="col-lg-2 mr-5">
                      <div class="form-group mb-0">
                        <select class="form-select options custom-form clr_red" id="operator{{i}}" style="border: none;"
                          (change)="selectedValueOptions($event,i)">
                          <option value="">Select options</option>
                          <option *ngFor="let ops of selectedArrOptions[i]" value="{{ops.code}}">
                            {{ops.show}}</option>
                        </select>
                      </div>
                    </div>

                    <div>
                      <div class="form-group mb-0" *ngIf="selectedOptions[i+'len']==0 || selectedArrG[i]==0">
                        <select class="form-select custom-form operator clr_red" id="andOper{{i}}">
                          <option value="">Select operator</option>
                          <option *ngFor="let oper of logicOperators" value="{{oper.code}}">
                            {{oper.show}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-2" *ngIf="selectedOptions[i+'len']>0 && selectedArrG[i]>0">
                      <div class="form-group mb-0">
                        <select class="form-select custom-form  subOption clr_red" style="border: none;"
                          id="options{{i}}">
                          <option value="">Select </option>
                          <option *ngFor="let option of selectedOptions[i+'option']" value="{{option.code}}">
                            {{option.show}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-1" *ngIf="selectedOptions[i+'len'] == 0 || selectedArrG[i]==''">
                      <div class="form-group mb-0">
                        <input autocomplete="off" class="form-control custom-form value clr_red" type="text"
                          placeholder="Enter value" maxlength="100" id="invalue{{i}}">
                      </div>
                    </div>

                    <div class="col-lg-3 text-center">
                      <i class="fa fa-expand clr_blue ml-2 p-2 undo_btn" (click)="addAndOrLogic(rw)"
                        matTooltip="Add add/or condition"></i>
                      <i class="fa fa-undo p-2 ml-2 undo_btn" (click)="resetLogic(i)"
                        matTooltip="Click here to reset"></i>
                      <i class="fa fa-trash-o clr_red ml-2 p-2 delete_btn" (click)="removeLogicCond(i)" *ngIf="i > 0"
                        matTooltip="Delete logic"></i>
                      <i class="fa fa-plus ml-2 p-2 add_btn undo_btn" (click)="addLogicCondition()" *ngIf="i == 0"
                        matTooltip="Add logic"></i>
                    </div>
                  </div>

                  <div *ngIf="rw.options">
                    <div class="row banner-child-class-logic root mt-1"
                      *ngFor="let and of rw.options;let j= index;let last = last">
                      <div class="ml-5">
                        <div class="form-group mb-0">
                          <select class="form-select custom-form andoroperator clr_red" id="andor{{j}}{{i}}">
                            <option value=" AND ">AND</option>
                            <option value=" OR ">OR</option>
                          </select>
                        </div>
                      </div>
                      <div>
                        <div class="form-group mb-0">
                          <select class="form-select custom-form question clr_red" id="varand{{j}}{{i}}"
                            (change)="selectedAdditionalValue($event,j,i)">
                            <option value="">Select variables</option>
                            <optgroup label="{{access.key}}" *ngFor="let access of logicVars|keyvalue">
                              <option *ngFor="let items of logicVars[access.key]" value="{{items.code}}"
                                attr.data="{{items.show}}" ariaLabel="{{items.param}}">{{items.show}}</option>
                            </optgroup>
                          </select>
                        </div>
                      </div>
                      <div *ngIf="selectedArrG1[j+''+i]">
                        <div class="form-group mb-0">
                          <select class="form-select custom-form options clr_red" id="v{{j}}{{i}}"
                            (change)="selectedAdditionalOptions($event,j,i)">
                            <option value="">Select options</option>
                            <option *ngFor="let it of selectedArrOptions1[j+''+i]" value="{{it.code}}">{{it.show}}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div>
                        <div class="form-group mb-0"
                          *ngIf="selectedOptions1[j+''+i+'len']==0 || selectedArrG1[j+''+i]==''">
                          <select class="form-select custom-form operator clr_red" id="andOper{{j}}{{i}}">
                            <option value="">Select operator</option>
                            <option *ngFor="let opert of logicOperators" value="{{opert.code}}">
                              {{opert.show}}</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-lg-2 mr-3" *ngIf="selectedOptions1[j+''+i+'len']>0">
                        <div class="form-group mb-0">
                          <select class="form-select custom-form subOption clr_red" style="border: none;"
                            id="op{{j}}{{i}}">
                            <option value="">Select </option>
                            <option *ngFor="let optionSub of selectedOptions1[j+''+i+'option']"
                              value="{{optionSub.code}}">{{optionSub.show}}</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-lg-1" *ngIf="selectedOptions1[j+''+i+'len'] == 0 || selectedArrG1[j+''+i]==''">
                        <div class="form-group mb-0">
                          <input autocomplete="off" class="form-control custom-form value clr_red" type="text"
                            placeholder="Enter value" maxlength="100" id="invalue{{j}}{{i}}">
                        </div>
                      </div>


                      <div class="col-lg-3 text-center">
                        <i class="fa fa-undo p-2 ml-2 undo_btn" (click)="resetLogicAnd(j,i)"></i>
                        <i class="fa fa-trash-o clr_red ml-2 p-2 delete_btn" (click)="removeAndOrLogic(rw,j)"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="card">
                <div class="card-body h_card">
                  <div *ngIf="settingList?.bannerPoint.length > 0">
                    <h6>Banner Preview</h6>
                    <div class="table-responsive cs_scroll">
                      <table class="table table-bordered mb-1 mt-3">
                        <tbody>
                          <tr *ngIf="savedGroup[0]">
                            <ng-container *ngFor="let item of savedGroup[0] | keyvalue">
                              <th class="text-center" attr.colspan="{{savedGroup[0][item.key].length}}">
                                {{item.key | titlecase}}
                              </th>
                            </ng-container>
                          </tr>

                          <tr>
                            <ng-container *ngIf="savedGroup[0]">
                              <ng-container *ngFor="let item of savedGroup[0] | keyvalue">
                                <th *ngFor="let seg of savedGroup[0][item.key]" class="text-center">
                                  {{seg.title | titlecase}} <br>
                                  <span class="clr_red">{{seg.alpha | titlecase}}</span>
                                </th>
                              </ng-container>
                            </ng-container>

                            <ng-container *ngIf="savedGroup[1]">
                              <ng-container *ngFor="let item of savedGroup[1] | keyvalue">
                                <th *ngFor="let seg of savedGroup[1][item.key]" class="text-center">
                                  {{seg.title | titlecase}} <br>
                                  <span class="clr_red">{{seg.alpha | titlecase}}</span>
                                </th>
                              </ng-container>
                            </ng-container>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="settingList?.bannerPoint.length == 0" class="mt-5 text-center">
                    <h6>No banner point listed.</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 mt-1">
              <div class="card">
                <div class="card-body h_card">
                  <h6 class="mb-3" data-toggle="collapse" data-target="#getQues_list">Question list</h6>

                  <div id="getQues_list" class="collapse show">
                    <div class="custom-control custom-checkbox mb-2 ml_l_3">
                      <input type="checkbox" class="custom-control-input" id="select_all_ques" name="question"
                        [checked]="savedQuesList.length == tableQuestionList.length"
                        (click)="selectAllQuestion($event)">
                      <label class="custom-control-label" for="select_all_ques">
                        <div class="ml-2">
                          Select All Questions
                        </div>
                      </label>
                    </div>

                    <div id="accordion" role="tablist">
                      <div *ngFor="let ques of tableQuestionList">
                        <div role="tab" id="headingOne">
                          <h4 class="label_head_tab d-inline-block w-100">
                            <div class="row">
                              <div class="col-lg-1 pr-0">
                                <div class="custom-control custom-checkbox mb-0 d-inline-block">
                                  <input type="checkbox" class="custom-control-input getAll" id="{{ques.qID}}"
                                    [checked]="quesChecked[ques.qID] == ques.qID" name="question"
                                    (click)="singleQues()">
                                  <label class="custom-control-label" for="{{ques.qID}}">
                                  </label>
                                </div>
                              </div>
                              <div class="col-lg-11 pl-0">
                                <a class="label_head" data-toggle="collapse" data-parent="#accordion"
                                  href="#collapseOne{{ques.qID}}" aria-expanded="true"
                                  aria-controls="collapseOne{{ques.qID}}">
                                  <div [innerHTML]="ques.qLabel" class="mt-1">
                                    {{ques.qLabel}}</div>
                                </a>
                              </div>
                            </div>
                          </h4>
                        </div>

                        <div id="collapseOne{{ques.qID}}" class="collapse in" role="tabpanel"
                          aria-labelledby="headingOne">
                          <div class="card-block p-2 ml-3">
                            <span [innerHTML]="ques.qText">{{ques.qText}}</span>
                            <div [innerHTML]="ques.ri" class="mt-1 fnt_italic">{{ques.ri}}</div>

                            <div *ngIf="ques.rowOptionList.length > 0" class="mt-1">
                              <ul>
                                <li *ngFor="let op of ques.rowOptionList">
                                  <span [innerHTML]="op.optionText">{{op.optionText}}</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="tableQuestionList?.length == 0" class="mt-5 text-center">
                      <h6>No question list found.</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn submit_btn" (click)="saveBannerSettings()">Save Banner
            Settings</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirm banner delete modal-->
  <div class="modal" [ngStyle]="{'display':display}" style="left:4%;top:5%;" *ngIf="bannerDelete == true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title ellip">Confirm Delete </h4>
          <button type="button" class="close" (click)="closeCrossModal('bannerDelete')">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Are your sure want to delete <span class="bold">{{bannerTitle?.title}}</span> ?

          <div class="col-lg-12 mt-3 p-0">
            <div class="form-group">
              <label>Type delete in the input box</label>
              <input autocomplete="off" class="form-control" type="text" id="deleteSq" placeholder="eg. delete">
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn submit_btn" (click)="removeBanner()">Delete</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Confirm copy banner modal-->
  <div class="modal" [ngStyle]="{'display':display}" style="left:4%;top:5%;" *ngIf="copyBannerModal == true">
    <div class="modal-dialog" style="max-width: 45%">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title ellip">Copy : {{bannerTitle?.title | titlecase}} </h4>
          <button type="button" class="close" (click)="closeCrossModal('copyBannerModal')">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="col-lg-12 mt-2 p-0">
            <div class="form-group">
              <label>Please type banner name in the below box</label>
              <input autocomplete="off" class="form-control" type="text" id="replicateSq"
                value="{{bannerTitle?.title}} (copy)">
            </div>
          </div>

          <div class="col-lg-12 mt-3 p-0">
            <p><span class="clr_blue">*</span> Please click on "Copy banner" button and wait for some time till
              the banner
              is copied.</p>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn submit_btn" (click)="confirmCopyBanner()">Copy Banner</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Edit banner -->
  <div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    [ngStyle]="{'display':display}" aria-hidden="true" *ngIf="editBanner" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title fs-5" id="exampleModalLabel">Edit banner</h4>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
          <button type="button" class="btn-close border-0" data-dismiss="modal" aria-label="Close"
            (click)="closeBanner()" style="font-size: 12px; background: transparent;  font-weight: 600;">X</button>
        </div>
        <div class="modal-body">
          <app-edit-banner [change]="change" (out)="closeBanner()"></app-edit-banner>
        </div>
        <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
      </div> -->
      </div>
    </div>
  </div>

  <!--crosstab  share Modal -->
  <div class="modal" [ngStyle]="{'display': display}" style="top:2%;" *ngIf="linkModalCross == true">
    <div class="modal-dialog" style="max-width: 40%">
      <div class="modal-content">
        <div class="modal-body" style="max-height:420px;overflow: auto;">
          <div class="row mb-3">
            <div class="col-lg-10">
              <h4 class="modal-title ellip">Share crosstab using public link</h4>
            </div>
            <div class="col-lg-2">
              <button type="button" class="close" (click)="clShare()">&times;</button>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-12">
              <p>Click on the copy button to copy crosstab link of <span
                  style="font-weight: bold;">{{masterData?.studyName}}</span></p>
              <h4 *ngIf="shareLinkDetail?.shareLink" class="cursor-pointer mt-3" (click)="openLink()">
                <span style="word-wrap: break-word;">Link : {{shareLinkDetail?.shareLink}}</span>
              </h4>
              <h4 *ngIf="shareLinkDetail?.password" class="cursor-pointer mt-3">
                <span>Password : {{shareLinkDetail?.password}}</span>
              </h4>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 text-center mt-3">
              <button class="btn submit_btn text-white" (click)="copyStudyId()" [cdkCopyToClipboard]="copyUrl"><i
                  class="fa fa-copy"></i> Copy Info</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>


<!-- Add password` -->

<div class="modal " [ngStyle]="{'display': display}" *ngIf="addPass == true">
  <div class="modal-dialog my-auto" style="width: 50%">
    <div class="modal-content">
      <form [formGroup]="passwordForm" autocomplete="off">
        <div class="modal-content" style="height:300px; margin: auto;">
          <div class="modal-body" style="max-height:420px;overflow: auto;">
            <div class="row mb-3 text-center mt-4">
              <div class=" col-lg-12">
                <h4 class="modal-title ellip">View Crosstab</h4>
              </div>
            </div>


            <div class="row text-center  mt-3">
              <label for="password" class="w-100 mt-4">Enter Password</label>


              <input id="password" type="password" class="w-75 form-control mx-auto" formControlName="passwordConfirm"
                autocomplete="off">
            </div>

            <div class="row">
              <div class="col-lg-12 text-center mt-4">
                <button class="btn submit_btn text-white w-25 mx-auto text-white white_hover"
                  (click)="passwordCheck(passwordForm.value.passwordConfirm)">
                  Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>