<nav class="navbar navbar-expand-sm sticky-top main_card p-0 container-fluid nav shadow-sm">
  <!-- <div class="container-fluid"> -->
  <div class="collapse navbar-collapse h_60" id="navbarSupportedContent">
    <img src="assets/favicon1 copy.png" width="69" class="">
    <h4 class="d-flex cursor-pointer color_white fs-2 mt-1">
      InsignAI
    </h4>
    <div class="mx-auto">
      <div class="d-flex flex-column flex-middle w40">
        <div class="d-block text-center mx-auto">
          <h4 class="cursor-pointer text-center font-weight-bold mb-0 color_white">
            {{masterData?.stdName}}</h4>
          <span class="text-center font-size-label d-block">Cross tabulation & Custom Tables</span>
        </div>
      </div>

    </div>
    <div>
      <a class="user-names cursor-pointer white_clr fs_15 me-4" data-toggle="dropdown">
        <i class="fa fa-user " style="font-weight:bold;"></i> &nbsp;Anonymous
      </a>
    </div>
  </div>
  <!-- </div> -->
</nav>