<nav class="navbar navbar-expand-sm sticky-top main_card p-0 container-fluid nav shadow">
  <!-- <div class="container-fluid"> -->
  <div class="collapse navbar-collapse h_60" id="navbarSupportedContent">
    <img src="assets/logo.png" width="170" class="ps-3">
    <div class="mx-auto">
      <div class="d-flex flex-column flex-middle w40">
        <div class="d-block text-center mx-auto">
          <h4 class="cursor-pointer text-center font-weight-bold mb-0">
            {{masterData?.stdName}}</h4>
          <span class="text-center font-size-label d-block">Cross tabulation & Custom Tables</span>
        </div>
      </div>

    </div>
    <div>
      <a class="user-names cursor-pointer  fs_15 me-3 clr_log" data-toggle="dropdown">
        <i class="fa fa-user " style="font-weight:bold;"></i> &nbsp;Anonymous
      </a>
    </div>
  </div>
  <!-- </div> -->
</nav>